<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<%= form_for(@classroom) do |f| %>
  <% if @classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% @classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="text-align: center">

  <div  class="form-horizontal">
    <%= f.label :estudante %><br>
    <td><%= collection_select(:classroom, :student_id, Student.all, :id, :name)%>
  </div>
  <div  class="form-horizontal">
    <%= f.label :curso %><br>
    <td><%= collection_select(:classroom, :courses_id, Course.all, :id, :name)%> 
  </div>
  <div  class="form-horizontal">
    <%= f.label :Data %><br>
    <%= f.datetime_select :entry_at %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
