<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<p id="notice"><%= notice %></p>

<h1 style="text-align: center">Estudantes Cadastrados</h1><br>
<fieldset>
  
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Matrícula</th>
      <th>Status</th>
      <th>Opções</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.register_number %></td>
        <td><%= student.status %></td>
        <td><%= link_to 'Visualizar', student %></td>
        <td><%= link_to 'Editar', edit_student_path(student) %></td>
        <td><%= link_to 'Excluir', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</fieldset>

<br>

<%= link_to 'Novo Cadastro', new_student_path %>
